* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

body {
    height: 3000px;
    background-color: beige;
}

main {
    margin-top: 90px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: antiquewhite;
    border: 1px solid red;
}

div {
    margin: 0px;
    padding: 0px;
    
}

.name {
    border: 1px solid orange;
    font-size: 24px;
    margin: 0px;
}

a {
    border: 1px solid green;
    color: antiquewhite;
}


.heroPic {
    height: 200px;
    width: auto;
}
