body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

li {
    margin: 15px 5px;
}

.hdrLogo {
    height: 80px;
    width: auto;
}

section {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.aboutMe {
    width: 300px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}

.info {
    max-width: 300px;
    margin: 30px;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heroInfo {
    margin: 30px;
    justify-content: center;
    max-width: 300px;
}

.heroImage {
    height: 300px;
    width: 300px;
    margin: 30px;
}

@media only screen and (max-width: 700px) {
    .heroInfo {
        max-width: 700px;
    }

    .heroImage {
        visibility: hidden;
        height: 0px;
    }
}

.styledBreak {
    width: 30px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
}

.avatar {
    width: 100px;
    border-radius: 50px;
}

#name {
    font-size: 38px;
}

.button {
    border: 0;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #355070;
    width: 80px;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
    background-color: #ef744b;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    footer {
        background-color: #a17df4;
    }
}

form {
    margin: 0 0 40px 0;
}

.inputSection {
    margin: 20px 0;
    display: flex;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

a:active {
    color: #a17df4;
}

/* code for about me page */

.aboutIntro {
    margin-top: 46px;
    display: flex;   
    align-items: right;
    background-color: #EAAC8B;
}

.aboutHero {
    letter-spacing: 0.5px;
    line-height: 20px;
}

.iCodeAbout {
    background-color: #EAAC8B;
    letter-spacing: 0.5px;
    line-height: 20px;
    height: 100vh;
}

/* portfoliio css */

.background {
    background-color: #EAAC8B;
    height: 100vh;
    padding: 28px;
}

.portfolioSection {
    height: 200px;
    background-color: #a4b5cb;
    margin: 11px 0;
    border-radius: 30px;
    border: 4px double #355070;

}

.seperate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolioHeadingMain {
    margin-bottom: 0px;
    text-align: start;
    margin-left: 10px;
    color: #355070;
}
.portfolioHeading {
    margin-bottom: 0px;
    text-align: start;
    margin-left: 10px;
    color: #355070;
}

.portfolioHeading2 {
    margin-bottom: 0px;
    text-align: end;
    margin-right: 10px;
}

.projectPic {
    height: 50px;
    width: auto;
    border-radius: 20px;
    margin: 0 5px;
}

/* mobile first  */

.navBar {
    display: none;
}

.navBar.show {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
}

.navBar li {
    background-color: #a17df4;
    margin: 0px;
}

.hamburger {
    border: 0;
    background-color: transparent;
    margin-top: 16px;
    border-radius: 5px;
}

.hamburger:focus {
    outline: none;
}

.hamburger:hover {
    background-color: #ffffff;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    .hamburger {
        display: none;
    }

    .navBar {
        display: flex;
        justify-self: flex-end;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 12px;
    } 

    .navBar li {
        margin: 0 5px;
        background-color: transparent;
    }
}



/* additional code  */


h2 {
    font-size: 40px;
    color: #355070;
}

p {
    font-size: 15px;
    color: #355070;
}

.heroPic {
    height: 250px;
    width: auto;
    border-radius: 30px;
}

figcaption {
    margin-top: 5px;
    font-size: 8px;
    text-align: center;
    color: #09182b;
}

.css, .js {
    height: 50px;
    width: auto;
}

.iCode {
    padding-top: 20px;
}